html {
    font-size: 24 px;
    font-family: 'Open Sans', sans-serif;
    background-color: #BACEC1;
    justify-items: center;
}

body {
    background-color: #f1f0e7;
    color: black;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 10%;
}

img {
    display: inline;
    margin: 0 auto;
}


/* ================================ Présentation frame ================================= */

#presentation {
    min-height: 30vh;
    margin: 2%;
    padding: 1%;
    font-size: large;
}

#presentation img {
    float: left;
    width: 10%;
    height: auto;
    min-width: 3cm;
    min-height: auto;
    max-width: 5cm;
    max-height: auto;
    margin: 15px;
    border-radius: 10px;
}

#technos {
    display: flex;
    margin: 2%;
}


/* ================================ Projects frame ================================= */

#projets {
    justify-content: center;
    margin: 2%;
}

.projets div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carte-projet {
    width: 30%;
    margin: 1%;
    background-color: #e6e5e5;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.carte-projet:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #fbd4b3;
}

.titre_projet h2,
h3 {
    text-justify: center;
    margin: auto;
}

.cleared {
    clear: left;
}